.addButton {
    margin-top: 24px;
}

.files {
    margin-top: 10px;
}

.deletePhoto {
    float: right;
    margin: 20px 0;
}


@media print {
    a[href]:after {
        content: "";
    }

    .noPrint {
        display: none;
    }
}